<header class='shadow-md  tracking-wide relative z-0'>
    <div
        class='md:flex lg:items-center relative py-3 lg:px-10 px-4 border-gray-200 border-b bg-white lg:min-h-[80px] max-lg:min-h-[60px]'>
        <a routerLink="/" href="javascript:void(0)"
            class="max-sm:w-full max-sm:mb-3 shrink-0 text-[2rem] font-bold hover:text-blue-600"
            title="universal farmer">
            Uf
        </a>

        <div class='flex flex-wrap w-full items-center'>
            <form (submit)="onSearchSubmit(searchInput.value)"
                class="lg:flex-1 max-lg:w-full lg:ml-10 max-md:mt-4 max-lg:ml-4 relative">
                <!-- Input field -->
                <div class="relative w-full rounded-lg shadow-md border border-gray-300 bg-white overflow-hidden">
                    <input type="search" value="{{ searchQuery }}" #searchInput
                        (input)="onSearchInput(searchInput.value)"
                        [placeholder]="currentPlaceholder || 'Find in Cars, Mobile Phones and More...'"
                        class="w-full h-11 pl-4 pr-12 text-sm font-medium text-gray-800 placeholder-gray-400 focus:outline-none focus:ring focus:ring-blue-560 focus:ring-opacity-50" />
                    <button type="submit"
                        class="absolute inset-y-0 right-0 flex items-center justify-center h-full w-12 bg-blue-600 text-white rounded-r-lg hover:bg-blue-700 transition-all">
                        <i class="fa-solid fa-magnifying-glass text-[1.2rem]"></i>
                    </button>
                </div>

                <!-- Suggestions Dropdown -->
                <ul *ngIf="suggetionDropdown && postsSuggetions.length > 0 || suggetionDropdown && suggestions.length > 0"
                    class="dropdown absolute top-full w-full bg-white rounded-lg shadow-2xl border border-gray-200 z-10 max-h-96 overflow-y-auto">
                    <li *ngFor="let suggestion of postsSuggetions" (click)="onSearchSubmit(suggestion.title)"
                        class="flex items-center gap-2 px-4 py-3 text-sm font-medium text-gray-700 cursor-pointer hover:bg-blue-50 hover:text-blue-600 transition-all">
                        {{ suggestion.title }}
                    </li>
                    <li *ngFor="let suggestion of suggestions" (click)="onSearchSubmit(suggestion.name)"
                        class="flex items-center gap-2 px-4 py-3 text-sm font-medium text-gray-700 cursor-pointer hover:bg-blue-50 hover:text-blue-600 transition-all">
                        {{ suggestion.name }}
                    </li>
                </ul>
            </form>


            <div class="ml-auto max-lg:mt-4 flex gap-2 justify-center items-center">
                <!-- location search -->
                <form class="location relative w-max mx-auto ms-3">
                    <div class="relative inline-block">
                        <i
                            class="fa-solid fa-earth-americas absolute text-[20px] left-3 top-1/2 transform -translate-y-1/2 text-blue-500"></i>
                        <input type="search" id="search-input"
                            class="pl-12 px-5 py-2.5 rounded text-sm font-semibold tracking-wide outline-[#333]"
                            placeholder="Search for location" />
                    </div>
                </form>
                <!-- heart icon -->
                <div (click)="favoritePosts($event)"
                    class="flex flex-col ms-3 items-center justify-center gap-0.5 cursor-pointer"
                    title="favorite posts">
                    <div class="relative">
                        <i class="fa-regular fa-heart cursor-pointer fill-[#333] inline w-5 h-5 text-[25px]"></i>
                    </div>
                </div>
                <!-- message bell icon -->
                <div (click)="messages()" class="flex flex-col ms-3 items-center justify-center gap-0.5 cursor-pointer"
                    title="{{unreadMessages}} unread messages">
                    <div class="relative">
                        <i class="fa-regular fa-comment cursor-pointer fill-[#333] inline w-5 h-5 text-[25px]"></i>
                        <span *ngIf="unreadMessages"
                            class="absolute left-auto -ml-2 -top-1 rounded-full bg-red-500 px-1 py-0 text-xs text-white">{{unreadMessages}}</span>
                    </div>
                </div>
                <div *ngIf="isLoggedIn" id="profile-trigger" class='flex items-center ml-auto ms-4'>
                    <ul class="flex space-x-4">
                        <li id="profile-dropdown-toggle"
                            class="relative px-1 after:absolute after:w-full after:h-[3px] after:block after:-bottom-2 after:left-0 after:transition-all after:duration-300">
                            <div class="flex flex-col justify-center items-center cursor-pointer hover:text-blue-500"
                                title="{{user.username}} profile" (click)="toggleProfileDropdown($event)">
                                <!-- User Profile Image -->
                                <div
                                    class="w-12 h-12 rounded-full overflow-hidden border-2 border-blue-500 flex items-center justify-center bg-blue-500 text-white text-3xl font-bold">
                                    <ng-container *ngIf="user?.profileImage; else placeholder">
                                        <img [src]="user.profileImage" alt="User Profile"
                                            class="w-full h-full object-cover">
                                    </ng-container>
                                    <ng-template #placeholder>
                                        {{ user.username.charAt(0) | uppercase }}
                                    </ng-template>
                                </div>
                            </div>
                            <div id="profile-dropdown-menu" [ngClass]="isProfileDropdownOpen ? 'block' : 'hidden'"
                                class="bg-white z-20 shadow-lg py-6 px-6 sm:min-w-[320px] max-sm:min-w-[250px] max-sm:-right-32 absolute right-0 top-16">
                                <div class="flex items-center cursor-pointer">
                                    <div
                                        class="w-16 h-16 rounded-full overflow-hidden border-2 border-blue-500 flex items-center justify-center bg-blue-500 text-white text-3xl font-bold">
                                        <ng-container *ngIf="user?.profileImage; else placeholder">
                                            <img [src]="user.profileImage" alt="User Profile"
                                                class="w-full h-full object-cover">
                                        </ng-container>
                                        <ng-template #placeholder>
                                            {{ user.username.charAt(0) | uppercase }}
                                        </ng-template>
                                    </div>

                                    <div class="ml-2">
                                        <h6 class="font-semibold text-sm">{{user.username}}</h6>
                                        <p class="text-sm text-gray-500 mt-1">{{user.email}}</p>
                                    </div>
                                </div>

                                <hr class="border-b-0 my-4" />
                                <ul class="space-y-1.5">
                                    <li (click)="userPosts($event)"
                                        class="hover:text-blue-500 text-sm text-gray-500 cursor-pointer"
                                        title="my posts">
                                        My Ads</li>
                                    <li (click)="favoritePosts($event)" title="favorites"
                                        class="hover:text-blue-500 text-sm text-gray-500 cursor-pointer">
                                        Favorites</li>
                                    <li class="text-sm text-gray-500 hover:text-blue-500 cursor-pointer">Gift Cards</li>
                                    <li class="text-sm text-gray-500 hover:text-blue-500 cursor-pointer">Contact Us</li>
                                </ul>
                                <hr class="border-b-0 my-4" />
                                <ul class="space-y-1.5">
                                    <li class="text-sm text-gray-500 hover:text-blue-500 cursor-pointer">Coupons
                                    </li>
                                    <li class="text-sm text-gray-500 hover:text-blue-500 cursor-pointer">Saved Credits
                                    </li>
                                    <li class="text-sm text-gray-500 hover:text-blue-500 cursor-pointer">Contact Us
                                    </li>
                                    <li (click)="logout($event)"
                                        class="text-sm text-gray-500 hover:text-red-600 cursor-pointer">Logout
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- sell button -->
                <div class="flex text-[15px] max-lg:py-2 px-3">
                    <button routerLink="categories" title="post your ad"
                        class="px-4 py-2 text-sm rounded font-semibold text-[#333] border-2 border-[#333] bg-transparent flex items-center gap-2 hover:bg-[#007bff] hover:text-white hover:border-[#007bff] transition">
                        <i class="fa-solid fa-plus"></i> SELL
                    </button>
                </div>

                <div *ngIf="!isLoggedIn"
                    class="bg-transparent border mb-4 border-gray-300 hover:border-pink-500 px-4 py-2 mt-4 text-sm text-pink-500 font-semibold">
                    <span title="signup">
                        <a type="button" routerLink="/signup">Signup</a>
                    </span> /
                    <span title="login">
                        <a type="button" routerLink="/login">Login</a>
                    </span>
                </div>

            </div>
        </div>
    </div>

    <div id="collapseMenu"
        class='relative z-0 max-lg:hidden lg:!block max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50'>
        <ul
            class='lg:flex lg:flex-wrap lg:items-center lg:justify-center px-10 py-1 z-0 bg-gray-700 min-h-[46px] gap-4 max-lg:space-y-4 max-lg:fixed max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto'>
            <!-- all categories and their subcategories -->
            <li>
                <button type="button" id="megaDropdown"
                    class="[&~label_.megaDrop]:focus:min-h-[300px] [&~label_.megaDrop]:focus:h-auto [&~label_.megaDrop]:focus:py-5 block h-0 w-0"></button>
                <label id="megaDropdown" for="megaDropdown">
                    <div (click)="isDropdownOpen = !isDropdownOpen" title="all categories"
                        class="text-white hover:text-yellow-300 py-2 px-1 rounded-lg cursor-pointer flex justify-center items-center gap-1">
                        <span>All Categories <i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                    <div
                        class="megaDrop transition-all duration-200 max-w-[70dvw] px-5 py-0 hover:py-5 bg-white rounded absolute top-[50px] left-1/2 -translate-x-1/2 z-50 shadow-lg h-0 min-h-0 overflow-hidden w-screen hover:min-h-[300px]">
                        <div class="flex w-full justify-start items-start flex-wrap">
                            <div class="flex-[1_1_200px] max-w-[250px]" *ngFor="let category of topCategories">
                                <h1 (click)="onCategorySelect(category.name); isDropdownOpen = false"
                                    title="{{category.name}}"
                                    class="text-lg font-semibold cursor-pointer hover:text-blue-600 text-black text-[14px]">
                                    {{ category.name }}
                                </h1>
                                <ul class="space-y-1 text-md text-gray-500 text-[13px]">
                                    <li *ngFor="let subcategory of category.subcategories"
                                        class="cursor-pointer hover:text-blue-500" title="{{subcategory.name}}"
                                        (click)="onCategorySelect(subcategory.name); isDropdownOpen = false">
                                        {{ subcategory.name }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </label>
            </li>
            <!-- those categories listed which is used most for post create -->
            <li *ngFor="let category of mostUsedCategories" class='max-lg:border-b max-lg:py-3 px-3'><a
                    (click)="onCategorySelect(category.name)" href='javascript:void(0)' title="{{category.name}}"
                    class='hover:text-yellow-300 text-white text-[14px] hover:text-[15px] font-medium block'>{{category.name}}</a>
            </li>
        </ul>
    </div>
</header>

<!-- processing -->
<app-processing *ngIf="isProcessing"></app-processing>